<%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <main id="eachBeer">
        <div id="showImg">img</div>
        <section id="eachBeerInfo">
            <div id="beerName"><%=beer.name%></div>
            <div id="beerPrice">$<%=beer.price%></div>
            <div id="beerType">(<%=beer.abv%>%) <%=beer.type%> w/ <%=beer.notes%>; hopped with <%=beer.hops%>.</div>
            <div id="editAndDeleteButtons">
                <a href="/beers/<%= beer._id %>/edit"><button>Edit</button></a>
                <form action="/beers/<%= beer._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
                <a href="/beers/"><button>Back to Main</button></a>
            </div>           
        </section>
    </main>
</body>
</html>